@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', 'Segoe UI', 'Arial', sans-serif;
  font-size: 14px;
}

@media (min-width: 640px) {
  body {
    font-size: 16px;
  }
}

.universal-card-font {
  font-family: 'Inter', 'Segoe UI', 'Arial', sans-serif !important;
  font-size: 1.07rem !important;
  line-height: 1.5 !important;
}
